body {
    color: #1F222E !important;
    background-image: url(images/money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  
  code {
    font-family: sans-serif;
  }
  
  .navbar {
    background-color: white;
  
  }
  
  .navbar-brand:hover {
    border-radius: 8px;
    background:#92b418;
  }
  .nav-link:hover {
    border-radius: 8px;
    background: #92b418;
  }
  
  .btn:hover {
    border-radius: 8px;
    background: #92b418;
  }